<h2>Alumnos del curso: <%= curso %></h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
    </tr>
  </thead>
  <tbody>
    <% alumnos.forEach(alumno => { %>
      <tr>
        <td><%= alumno.id %></td>
        <td><%= alumno.nombre %></td>
        <td><%= alumno.apellido %></td>
        <td><%= alumno.edad %></td>
      </tr>
    <% }); %>
  </tbody>
</table>
<a href="/cursos" class="btn btn-primary">Volver a la lista de cursos</a>